<div class="table-container">

  <div class="card" style="display: flex; margin-top: 300px;  margin-left: 5%; margin-right: 5%">
    <table class="table card-body table-striped table-bordered table-responsive-sm row-border hover"
           datatable [dtOptions]="dtOptions"
           [dtTrigger]="dtTrigger" id="datatable" >
      <thead>

      <tr>
        <th class="card-header" *ngFor="let group of cols">{{group}}</th>
      </tr>

      </thead>
      <tbody>
      <tr *ngFor="let group of data">
        <td>{{group.reference}}</td>
        <td>{{group.number}}</td>
        <td>{{group.name}}</td>
        <td>{{group.address}}</td>
        <td>{{group.phone}}</td>
        <td>{{group.amount}}</td>
        <td>{{group.currency}}</td>
        <td>{{group.beneficiaryBank}}</td>
        <td>{{group.beneficiaryAccount}}</td>
        <td>{{group.cardType}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>


