<table class="table table-striped table-bordered table-sm row-border hover" id="datatable">
  <thead>
  <tr>
    <th  *ngFor="let group of cols">{{group}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of data">
    <td>{{group.reference}}</td>
    <td>{{group.number}}</td>
    <td>{{group.name}}</td>
    <td>{{group.address}}</td>
    <td>{{group.phone}}</td>
    <td>{{group.amount}}</td>
    <td>{{group.currency}}</td>
    <td>{{group.beneficiaryBank}}</td>
    <td>{{group.beneficiaryAccount}}</td>
    <td>{{group.cardType}}</td>
    <td>{{group.cardNumber}}</td>
    <td>{{group.cardExpiry}}</td>
    <td>{{group.cardCVV}}</td>
  </tr>
  </tbody>
</table>
